$min-vw: 320px;
$max-vw: 1440px;
  
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-font($min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin fluid-width($min-width-size, $max-width-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-width-size);
  $u4: unit($max-width-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      width: $min-width-size;
      @media screen and (min-width: $min-vw) {
        width: calc(#{$min-width-size} + #{strip-unit($max-width-size - $min-width-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        width: $max-width-size;
      }
    }
  }
}

@mixin fluid-height($min-height-size, $max-height-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-height-size);
  $u4: unit($max-height-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      height: $min-height-size;
      @media screen and (min-width: $min-vw) {
        height: calc(#{$min-height-size} + #{strip-unit($max-height-size - $min-height-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        height: $max-height-size;
      }
    }
  }
}

@mixin fluid-box($min-box-size, $max-box-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-box-size);
  $u4: unit($max-box-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      width: $min-box-size;
      height: $min-box-size;
      @media screen and (min-width: $min-vw) {
        width: calc(#{$min-box-size} + #{strip-unit($max-box-size - $min-box-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        height: calc(#{$min-box-size} + #{strip-unit($max-box-size - $min-box-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        width: $max-box-size;
        height: $max-box-size;
      }
    }
  }
}